Vidar Magnusson <vidar.halmstad@hotmail.com>
Theodor <portalprogramming@gmail.com> <theodor.ang.98@gmail.com>
Erik Jergeus <erikjer@student.chalmers.se> <31534211+jerge@users.noreply.github.com>
Eric Carlsson <31534278+ericlp@users.noreply.github.com> <caeric@student.chalmers.se>
Jacob Pedersen <jacobsqy@teknik.io>
