Vidar Magnusson <vidar.halmstad@hotmail.com>
Theodor <portalprogramming@gmail.com> <theodor.ang.98@gmail.com>
Erik Jergeus <erikjer@student.chalmers.se> 
Erik Jergeus <31534210+jerge@users.noreply.github.com>
Eric Carlsson <caeric@student.chalmers.se> 
Eric Carlsson <31534278+ericlp@users.noreply.github.com> 
Jacob Pedersen <jacobsqy@teknik.io>
